{% extends 'templates/indexbase.html' %}

{% block content %}

 
    <!--====== SEARCH BOX PART START ======-->
    
    <!--====== SEARCH BOX PART ENDS ======-->
   
    <!--====== SLIDER PART START ======-->
    
    <section  style="direction: rtl;font-family: Cairo;background-color: #edf0f2;" id="slider-part" class="slider-active">
        <div class="single-slider bg_cover pt-150"  style="background-image:url(/assets/madrasatech/images/backimage.png);" data-overlay="4">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xl-7 col-lg-9 "> 
                        <div class="slider-cont text-center" style="flex: 0 0 100%;max-width:0 0 50%">
                            <h1 data-animation="bounceInLeft"  style="font-family: Cairo; font-size:xlarge">نظام مدرستك المتكامل </h1>
                            <p data-animation="fadeInUp" data-delay="1.3s"> وفر وقتك وجهدك مع نظام مدرستك الذي يلبي جميع متطلبات التنظيم والإدارة الحديثة للطلاب وأولياء الأمور
                                والكادر التعليمي والاداري والاختبارات والدرجات كما يتميز بنظام الحسابات والمشتريات ويساعدك على 
                               إدارة المخازن بكفاءة عالية.</p>
                            <!-- <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="/about">Read More</a></li>
                                <!-- <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get Started</a></li> 
                            </ul> -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        

        
       
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
   
    <!--====== CATEGORY PART START ======-->
    
    <section id="category-part" style="background-color: #edf0f2;" >
        <div class="container" >
            <div class="category pt-40 pb-80"  >
                <div class="row">
                    <div class="col-lg-4">
                        <div  class="category-text pt-90 text-right">
                            <h2 style="font-family: Cairo; width: max-content" >ممـيزات النظـام </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                        <div class="row category-slied mt-40">
                          

                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img width="78" src="/assets/madrasatech/images/easy.png" alt="Icon">
                                         
                                        </span>
                                        <span class="cont">
                                            <span>سهولة الاستخدام</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="/assets/madrasatech/images/all-icon/ctg-2.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>كفائة عالية</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img width="78"  src="/assets/madrasatech/images/goodprice.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>سعر مناسب</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            
                        </div> <!-- category slied -->
                    </div>
                </div> <!-- row -->
            </div> <!-- category -->
        </div> <!-- container -->
    </section>
    
    <!--====== CATEGORY PART ENDS ======-->
   
    <!--====== ABOUT PART START ======-->
    
  
    <!--====== ABOUT PART ENDS ======-->
   
    <!--====== APPLY PART START ======-->
                
        

    <!--====== APPLY PART ENDS ======-->
   
    <!--====== COURSE PART START ======-->
    
    <section id="course-part" class="pt-115 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="section-title pb-45 text-center">
                        <h5 style="font-family: Cairo; width: max-content ;font-size:xx-large;">خصائص النظـام </h5>

                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            
            <div class="row course-slied mt-30">
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div>

                        <div class="image " style="text-align:center ;" >
                            <img style="width: 180px; text-align: center;" src="/assets/madrasatech/images/student.jpg" alt="Course">
                            </div>
                              
                        </div>
                        <div class="cont">
                       
                            
                            <a ><h1 style="font-family:Cairo;font-size:x-large;text-align:center ;"> يسمح للطلاب بالتسجيل  في المدرسة أونلاين  ويدير بياناتهم بشكل منظم وسلس </h1></a>
                            
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div>

                            <div class="image " style="text-align:center ;" >
                                <img style="width: 260px; text-align: center;"
                                 src="/assets/madrasatech/images/fee.png" alt="Course">
                            </div>
                            
                        </div>
                        <div class="cont">
                       
                           
                            <a ><h1 style="font-family:Cairo;font-size:x-large;text-align:center ;"> تنظيم عمليات الرسوم وسدادها وجدولتها وربطها بالحسابات العامة للمدرسة </h1></a>
                      
                        </div>
                    </div> <!-- singel course -->
                </div>
            
                <div class="col-lg-4">
                    <div class="singel-course" >
                          <div class="cont">
                            <div >
                                <div class="image " style="text-align:center ;" >
                                    <img style="width: 150px; text-align: center;"  src="/assets/madrasatech/images/attendance.png" >
                                </div>
                                  
                            </div>
                            
                            
                            <a ><h1  style="font-family:Cairo;font-size:x-large;text-align:center ;margin-top: 20px;">أدوات  وشاشات لتحضير الطلبة ورصد تقييماتهم اليومية والشهرية بسهولة</h1></a>
                        
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4" style="margin-top: 20px;">
                    <div class="singel-course">
                        <div>
                        <div class="image " style="text-align:center ;" >
                            <img style="width: 150px; text-align: center;"
                               src="/assets/madrasatech/images/hr.jpg" alt="Course">
                            </div>
                       </div>
                        <div class="cont">
                           <a ><h1 style="font-family:Cairo;font-size:x-large;text-align:center ;">إدارة جميع العمليات المتعلقة بالموارد البشرية
                          </h1></a>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4" style="margin-top: 20px;">
                    <div class="singel-course">
                        <div>

                            <div class="image " style="text-align:center ;" >
                                <img style="width: 150px; text-align: center; margin-top: 10px;" src="/assets/madrasatech/images/exams.jpg" alt="Course">
                            </div>
                              
                        </div>
                      
                        <div class="cont">
                       
                                       <h1 style="font-family:Cairo;font-size:x-large;text-align:center ;"> أدوات إدارة  الاختبارات ورصدها مع النتائج والمحصلة  </h1>
                         
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4" style="margin-top: 20px;">
                    <div class="singel-course">
                        <div>

                            <div class="image " style="text-align:center ;" >
                                <img style="width: 150px; text-align: center; margin-top: 10px;" src="/assets/madrasatech/images/stock.jpg" alt="Course">
                            </div>
                              
                        </div>
                      
                        <div class="cont">
                       
                                       <h1 style="font-family:Cairo;font-size:x-large;text-align:center ;">  إدارة  المخازن والمشتريات    </h1>
                         
                        </div>
                    </div> <!-- singel course -->
                </div>
            </div> <!-- course slied -->
        </div> <!-- container -->
    </section>
    
    <!--====== COURSE PART ENDS ======-->
   
    <!--====== VIDEO FEATURE PART START ======-->
    
  
    

    
    <section id="testimonial" class="bg_cover pt-115 pb-115" data-overlay="8" style="background-color:#07294d ;">
        <div class="container">
            
                <div>
                    <div class="section-title pb-40">
                        
                        <h2>خـدمـاتنا</h2>
                    </div> <!-- section title -->
                </div>
           
            <div class="row testimonial-slied mt-40">
                <div class="col-lg-3">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img style="width: 90px;" src="/assets/madrasatech/images/support.png" alt="Testimonial">
                            
                        </div>
                        <div class="testimonial-cont">
                          
                            <span>الدعم الفني</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-3">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img style="width: 90px;" src="/assets/madrasatech/images/training.png" alt="Testimonial">
                        
                        </div>
                        <div class="testimonial-cont">
                            
                            <span>التدريب </span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-3">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img style="width: 90px;" src="/assets/madrasatech/images/conslatant.png" alt="Testimonial">
                        
                        </div>
                        <div class="testimonial-cont">
                            
                            <span>الاستشارات </span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
            </div> <!-- testimonial slied -->
        </div> <!-- container -->
    </section>
    
    
   
{% endblock %}